body {
    margin-top: 1.0em;
    font-family: Helvetica, Arial, FreeSans, san-serif;
    color: #747575;
    font-size:12px;
    background-color: #ffffff;
}

#container {
    background-color: #fefffe;
    margin: 0 auto;
    width: 700px;
}

h1 { 
    font-size: 3.8em; 
    color: #240c0a; 
    margin-bottom: 3px; 
}
h1 .small {
    font-size: 0.4em;
}
h1 a {
    text-decoration: none
}
h2 { 
    font-size: 14px; 
    color: #4c4c4c; 
}
h3 {
    font-size: 12px;
    text-align: center; 
    color: #4c4c4c; 
}
a {
    color: #007baa;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}

.description {
    font-size: 1.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    font-style: italic;
}
.download {
    float: right;
}
pre {
    background: #000;
    color: #fff;
    padding: 15px;
}
hr {
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa;
}
.footer {
    text-align:center;
    padding-top:30px;
    font-style: italic;
}

