body {
    margin-top: 0px;
    padding-top: 0px;
    font-family:  Helvetica, Arial, FreeSans, san-serif;
    color: #747575;
    font-size:12px;
    background-color: white;
}

#container {
    background-color: #eff0ef;
    margin: 0 auto;
    padding: 0;
    width: 924px;
    height: 100%;
    overflow: auto;
}

.header {
    background-color: white;
    width: 100%;
    height: 100px;
    padding-top: 20px;
}
.Main {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    width: 670px;
    float:left;
}
.Sidebar {
    width: 23%;
    height: 100%;
    float:right;
    padding-left:8px;
    border-left: solid #bbbbbb 1px;
}
.header h1 { 
    font-size: 3.8em; 
    color: #240c0a; 
    margin-bottom: 0px;
    margin-top:0px;

}
h1 .small {
    font-size: 0.4em;
}
h1 a {
    text-decoration: none
}
h2 { 
    font-size: 14px; 
    color: #4c4c4c; 
}
h3 {
    font-size: 12px;
    text-align: center; 
    color: #4c4c4c; 
}
a {
    color: #007baa;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}

.description {
    font-size: 1.2em;
    margin-top: 5px;
    font-style: italic;
}
.download {
    float: right;
}
pre {
    background: #000;
    color: #fff;
    padding: 15px;
}
hr {
    border: 0;
    width: 80%;
    border-bottom: 1px solid #aaa;
}
.footer {
    text-align:center;
    padding-top:30px;
    font-style: italic;
}


