<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.cloudsmith.geppetto.ui.newWizardCategory"
            name="%_UI_Wizard_Category"/>
      <wizard
            category="org.cloudsmith.geppetto.ui.newWizardCategory"
            class="org.cloudsmith.geppetto.ui.wizard.NewPuppetProjectWizard"
            icon="icons/full/etool16/NewPuppetProject.gif"
            id="org.cloudsmith.geppetto.ui.NewPuppetProjectWizard"
            name="%_UI_PuppetProject_title"
            project="true">
         <description>
            %_UI_PuppetProject_description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            id="org.cloudsmith.geppetto.ui.NewPuppetModuleProjectWizard"
            name="%_UI_PuppetModuleProject_title"
            class="org.cloudsmith.geppetto.ui.wizard.NewPuppetModuleProjectWizard"
            category="org.cloudsmith.geppetto.ui.newWizardCategory"
            project="true"
            icon="icons/full/etool16/NewPuppetProject.gif">
         <description>%_UI_PuppetModuleProject_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            id="org.cloudsmith.geppetto.ui.NewPuppetProjectFromForgeWizard"
            name="%_UI_PuppetProjectFromForge_title"
            class="org.cloudsmith.geppetto.ui.wizard.NewPuppetProjectFromForgeWizard"
            category="org.cloudsmith.geppetto.ui.newWizardCategory"
            project="true"
            icon="icons/full/etool16/NewPuppetProject.gif">
         <description>%_UI_PuppetProjectFromForge_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
      <wizard
            category="org.cloudsmith.geppetto.ui.newWizardCategory"
            class="org.cloudsmith.geppetto.ui.wizard.NewManifestWizard"
            icon="icons/obj16/new_pp.png"
            id="org.cloudsmith.geppetto.ui.wizard.NewManifestWizard"
            name="New Puppet Manifest">
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
         <description>
            %_UI_NewPuppetManifest_description
         </description>
      </wizard>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.cloudsmith.geppetto.ui.exportModuleObjectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               id="org.cloudsmith.geppetto.ui.exportModuleActionDelegate"
               label="%_UI_ExportModules_label"
               menubarPath="group.port"
               class="org.cloudsmith.geppetto.ui.action.ExportModulesActionDelegate"
               enablesFor="1"/>
      </objectContribution>
      <!--
      <viewerContribution
            id="org.cloudsmith.geppetto.ui.importModulesFromForgeViewerContribution"
            targetID="org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <action
               id="org.cloudsmith.geppetto.ui.importModulesFromForgeActionDelegate"
               label="%_UI_ImportModulesFromForge_label"
               menubarPath="group.port"
               class="org.cloudsmith.geppetto.ui.action.ImportModulesFromForgeActionDelegate"/>
      </viewerContribution>
      -->
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.cloudsmith.geppetto.ui.editor.ModuleMetadataEditor"
            default="true"
            filenames="Modulefile"
            icon="icons/obj16/puppet-16.png"
            id="org.cloudsmith.geppetto.ui.moduleMetadataEditor"
            name="%_UI_ModuleMetadataEditor_title"/>
   </extension>
</plugin>
