---
layout: default
title: Geppetto FAQ
---
<div class="Postheader"><h1>Geppetto FAQ</h1></div>
<div class="FaqToc">
<ul>
    <li>About</li>
        <ul>
        {%for post in site.categories.about %}
            <li><a href="#{{post.id}}">{{ post.title }}</a></li>
        {%endfor%}
        </ul>
    <li>Contact</li>
        <ul>
        {%for post in site.categories.contact %}
            <li><a href="#{{post.id}}">{{ post.title }}</a></li>
        {%endfor%}
        </ul>
    <li>Installation</li>
        <ul>
        {%for post in site.categories.install %}
            <li><a href="#{{post.id}}">{{ post.title }}</a></li>
        {%endfor%}
        </ul>
    <li>Demos, Tutorials, Help</li>
        <ul>
        {%for post in site.categories.demos %}
            <li><a href="#{{post.id}}">{{ post.title }}</a></li>
        {%endfor%}
        </ul>
    <li>How do I...?</li>
        <ul>
        {%for post in site.categories.howto %}
            <li><a href="#{{post.id}}">{{ post.title }}</a></li>
        {%endfor%}
        </ul>
    <li>Troubleshooting</li>
        <ul>
        {%for post in site.categories.troubleshoot %}
            <li><a href="#{{post.id}}">{{ post.title }}</a></li>
        {%endfor%}
        </ul>
</ul>
</div>
<div id="posts">
    <h1>About</h1>
    {%for post in site.categories.about %}
        <div class="Faq">
            <div class="Faqheader">
                <h1><a name="{{ post.id }}"></a>{{ post.title }}</h1>
                <span class="Faqdate">{{ post.date | date_to_string}}</span>
            </div>
            <div class="Faqcontent">
                {{ post.content }}
            </div>
            <div class="Faqfooter">
            </div>
        </div>
    {% endfor %} 
    <h1>Contact</h1>
    {%for post in site.categories.contact %}
        <div class="Faq">
            <div class="Faqheader">
                <h1><a name="{{ post.id }}"></a>{{ post.title }}</h1>
                <span class="Faqdate">{{ post.date | date_to_string}}</span>
            </div>
            <div class="Faqcontent">
                {{ post.content }}
            </div>
            <div class="Faqfooter">
            </div>
        </div>
    {% endfor %} 
    <h1>Installation</h1>
    {%for post in site.categories.install %}
        <div class="Faq">
            <div class="Faqheader">
                <h1><a name="{{ post.id }}"></a>{{ post.title }}</h1>
                <span class="Faqdate">{{ post.date | date_to_string}}</span>
            </div>
            <div class="Faqcontent">
                {{ post.content }}
            </div>
            <div class="Faqfooter">
            </div>
        </div>
    {% endfor %} 
    <h1>Demos, Tutorial, and Help</h1>
    {%for post in site.categories.demos %}
        <div class="Faq">
            <div class="Faqheader">
                <h1><a name="{{ post.id }}"></a>{{ post.title }}</h1>
                <span class="Faqdate">{{ post.date | date_to_string}}</span>
            </div>
            <div class="Faqcontent">
                {{ post.content }}
            </div>
            <div class="Faqfooter">
            </div>
        </div>
    {% endfor %} 
    <h1>Troubleshooting</h1>
    {%for post in site.categories.howto %}
        <div class="Faq">
            <div class="Faqheader">
                <h1><a name="{{ post.id }}"></a>{{ post.title }}</h1>
                <span class="Faqdate">{{ post.date | date_to_string}}</span>
            </div>
            <div class="Faqcontent">
                {{ post.content }}
            </div>
            <div class="Faqfooter">
            </div>
        </div>
    {% endfor %} 

</div>

