---
layout: default
---
<div class="Post">
    <div class="Postheader">
        <h1>{{ page.title | downcase }}</h1>
        <span class="Postdate">{{ page.date | date_to_string }}</span>
    </div>
    <div class="Postcontent">
        {% if page.image %}
            <table class="Postimage">
                <tr>
                <td><img "illustration" src="{{ site.url }}{{ page.image}}"></td>
                {% if page.imagecap %}
                    </tr><tr>
                    <td><span class="Imagecap">{{page.imagecap}}</span></td>
                {% endif %}
                </tr>
            </table>
        {% endif %}

        {{ content }}
    </div>
    <div class="Postfooter">
    </div>
</div>

