.MTrimmedWindow {  
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

.MPartStack {
  swt-tab-renderer: null;
  swt-selected-tabs-background: #FFFFFF #E8E8E8 100%;
  swt-simple: false;
  swt-mru-visible: true;
}


.MPartStack.active {
  swt-selected-tabs-background: #ffffff #EDF2FB #739ee3  1% 70%;
}

#PerspectiveSwitcher  {
	eclipse-perspective-keyline-color: #ECE9D8 #FFFFFF;
}

.MToolControl.TrimStack {
	frame-image: "url(./winClassicTSFrame.png)";
	handle-image: "url(./winClassicHandle.png)";
	frame-cuts: '5px' '1px' '5px' '16px';
}
