<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="pp"
              icon="icons/obj16/file_pp.gif"
              id="org.cloudsmith.geppetto.pp.dsl.PP"
              name="Puppet Manifest Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.cloudsmith.geppetto.pp.dsl.PP.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.cloudsmith.geppetto.pp.dsl.PP.validate">
         <activeWhen>
            <reference
                    definitionId="org.cloudsmith.geppetto.pp.dsl.PP.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.cloudsmith.geppetto.pp.dsl.PP.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.cloudsmith.geppetto.pp.dsl.PP" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
              class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.cloudsmith.geppetto.pp.dsl.ui.preferences.PPGeneralPreferencePage"
              id="org.cloudsmith.geppetto.pp.dsl.PP"
              name="Puppet">
            <keywordReference id="org.cloudsmith.geppetto.pp.dsl.ui.keyword_PP"/>
        </page>
        <page
            category="org.cloudsmith.geppetto.pp.dsl.PP"
            class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.cloudsmith.geppetto.pp.dsl.PP.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.cloudsmith.geppetto.pp.dsl.ui.keyword_PP"/>
        </page>
        <page
            category="org.cloudsmith.geppetto.pp.dsl.PP"
            class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.cloudsmith.geppetto.pp.dsl.PP.templates"
            name="Templates">
            <keywordReference id="org.cloudsmith.geppetto.pp.dsl.ui.keyword_PP"/>
        </page>
        <page
              category="org.cloudsmith.geppetto.pp.dsl.PP"
              class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.cloudsmith.geppetto.pp.dsl.ui.preferences.AutoEditPreferencePage"
              id="org.cloudsmith.geppetto.pp.dsl.PP.autoEdits"
              name="Auto Edits">
           <keywordReference
                 id="org.cloudsmith.geppetto.pp.dsl.ui.keyword_PP">
           </keywordReference>
        </page>
        <page
              category="org.cloudsmith.geppetto.pp.dsl.PP"
              class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.cloudsmith.geppetto.pp.dsl.ui.preferences.PPPathPreferencePage"
              id="org.cloudsmith.geppetto.pp.dsl.PP.searchPath"
              name="Search Path">
           <keywordReference
                 id="org.cloudsmith.geppetto.pp.dsl.ui.keyword_PP">
           </keywordReference>
        </page>
        <page
              category="org.cloudsmith.geppetto.pp.dsl.PP"
              class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.cloudsmith.geppetto.pp.dsl.ui.preferences.PPEnvironmentPreferencePage"
              id="org.cloudsmith.geppetto.pp.dsl.PP.environment"
              name="Environment">
           <keywordReference
                 id="org.cloudsmith.geppetto.pp.dsl.ui.keyword_PP">
           </keywordReference>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.cloudsmith.geppetto.pp.dsl.ui.keyword_PP"
            label="PP"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.cloudsmith.geppetto.pp.dsl.PP.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.cloudsmith.geppetto.pp.dsl.PP.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.cloudsmith.geppetto.pp.dsl.PP.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.cloudsmith.geppetto.pp.dsl.PP.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.cloudsmith.geppetto.pp.dsl.PP.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="pp">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="pp">
        </resourceServiceProvider>
    </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.cloudsmith.geppetto.pp.dsl.PP.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.cloudsmith.geppetto.pp.dsl.PP.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Runs a development debug utility"
            id="org.cloudsmith.geppetto.pp.dsl.ui.devdebug"
            name="Devdebug">
      </command>
   </extension>
   	<extension
		point="org.eclipse.ui.handlers">
           <handler
            class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.cloudsmith.geppetto.pp.dsl.ui.commands.PPDevDebug"
            commandId="org.cloudsmith.geppetto.pp.dsl.ui.devdebug">
         <activeWhen>
            <reference
                    definitionId="org.cloudsmith.geppetto.pp.dsl.PP.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
      </extension>
    <extension
          id="modulefileBuilder"
          name="Puppet Modulefile Builder"
          point="org.eclipse.core.resources.builders">
       <builder
             hasNature="true">
          <run
                class="org.cloudsmith.geppetto.pp.dsl.ui.builder.PPModulefileBuilder">
          </run>
       </builder>
    </extension>
    <extension
          id="puppetNature"
          name="Puppet Project Nature"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="org.cloudsmith.geppetto.pp.dsl.ui.builder.PuppetNature">
          </run>
       </runtime>
       <builder
             id="org.cloudsmith.geppetto.pp.dsl.ui.modulefileBuilder">
       </builder>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="org.cloudsmith.geppetto.pp.dsl.ui.contribution1"
             nameFilter="*"
             objectClass="org.eclipse.core.resources.IProject">
          <action
                class="org.cloudsmith.geppetto.pp.dsl.ui.builder.ToggleNatureAction"
                enablesFor="+"
                id="org.cloudsmith.geppetto.pp.dsl.ui.addRemoveNatureAction"
                label="Add/Remove Puppet Nature"
                menubarPath="additions">
          </action>
       </objectContribution>
    </extension>
    <extension
          id="puppetModuleProblem"
          name="Puppet Module Problem"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <persistent
             value="true">
       </persistent>
    </extension>
    <extension
          point="org.eclipse.xtext.extension_resourceServiceProvider">
       <resourceServiceProvider
             class="org.cloudsmith.geppetto.pp.dsl.ui.pptp.PptpRubyExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceServiceProvider"
             uriExtension="rb">
       </resourceServiceProvider>
    </extension>
    <extension
          point="org.eclipse.xtext.extension_resourceServiceProvider">
       <resourceServiceProvider
             class="org.cloudsmith.geppetto.pp.dsl.ui.pptp.PptpExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceServiceProvider"
             uriExtension="pptp">
       </resourceServiceProvider>
    </extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.cloudsmith.geppetto.pp.dsl.ui.internal.PPStartup">
       </startup>
    </extension>
    <extension
          id="puppetTaskMarker"
          name="Puppet Task Marker"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.taskmarker">
       </super>
       <persistent
             value="true">
       </persistent>
    </extension>
    <extension
          point="org.eclipse.xtext.builder.participant">
       <participant
             class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.cloudsmith.geppetto.pp.dsl.ui.builder.PPBuilderParticipant">
       </participant>
    </extension>
    <extension
          point="org.eclipse.ui.ide.projectNatureImages">
       <image
             icon="icons/obj8/puppet-7x8px.png"
             id="org.cloudsmith.geppetto.pp.dsl.ui.puppetNatureImage"
             natureId="org.cloudsmith.geppetto.pp.dsl.ui.puppetNature">
          <description>
             Decorates Puppet (nature) Projects.
          </description>
       </image>
    </extension>
    <extension
          point="org.eclipse.ui.decorators">
       <decorator
             adaptable="true"
             icon="icons/obj8/puppet-7x8px.png"
             id="org.cloudsmith.geppetto.pp.dsl.ui.ppProjectNatureDecorator"
             label="Puppet Project Nature"
             lightweight="true"
             location="TOP_RIGHT"
             state="true">
          <enablement>
             <objectState
                   name="nature"
                   value="org.cloudsmith.geppetto.pp.dsl.ui.puppetNature">
             </objectState>
          </enablement>
          <description>
             Decorates Puppet (nature) Projects
          </description>
       </decorator>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             adaptable="true"
             class="org.cloudsmith.geppetto.pp.dsl.ui.PPExecutableExtensionFactory:org.cloudsmith.geppetto.pp.dsl.ui.preferences.PPPathPreferencePage"
             id="org.cloudsmith.geppetto.pp.dsl.PP.searchPath"
             name="Puppet Search Path"
             objectClass="org.eclipse.core.resources.IProject">
       </page>
    </extension>

</plugin>
