<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2013 Puppet Labs, Inc. and other contributors, as listed below.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html

 Contributors:
   Puppet Labs
 
-->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="com.puppetlabs.geppetto.catalog.CatalogPackage"
            genModel="model/Catalog.genmodel"
            uri="http://www.puppetlabs.com/geppetto/1.0.0/Catalog">
      </package>
   </extension>


</plugin>
